<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder
            location="classpath:/application.properties"/>


    <bean id="questionStrategyConfig" class="ru.otus.spring.testing.students.config.MappingStrategyConfig">
        <constructor-arg name="aClass" value="ru.otus.spring.testing.students.domain.Question"/>
    </bean>

    <bean id="questionDaoCsv" class="ru.otus.spring.testing.students.dao.impl.QuestionDaoCsv">
        <constructor-arg name="csvFileWithData" value="${csv.file.name}"/>
        <constructor-arg name="mappingStrategy" ref="questionStrategyConfig"/>
    </bean>

    <bean id="menuService" class="ru.otus.spring.testing.students.service.impl.MenuServiceQuestionConsole"
          destroy-method="destroy">
        <constructor-arg name="questionDao" ref="questionDaoCsv"/>
        <constructor-arg name="minCorrectAnswer" value="${min.correct.answer}"/>
    </bean>


</beans>